In [58]:
# All imports
import numpy as np
import pandas as pd

In [67]:
#my_sheet = 'C-08'
#df = pd.read_excel('census+data.xlsx', sheet_name=my_sheet)

census_df = pd.read_csv('EDA_census.csv')
print(census_df.describe())

        State Code  Distt Code  Total_Persons   Total_Males  Total_Females  \
count  3132.000000      3132.0   3.132000e+03  3.132000e+03   3.132000e+03
mean     17.500000         0.0   3.092861e+06  1.592006e+06   1.500855e+06
std      10.389954         0.0   2.882232e+07  1.483375e+07   1.398926e+07
min       0.000000         0.0   6.000000e+00  4.000000e+00   2.000000e+00
25%       8.750000         0.0   2.141225e+04  1.116850e+04   1.014875e+04
50%      17.500000         0.0   2.389940e+05  1.232525e+05   1.166540e+05
75%      26.250000         0.0   1.123899e+06  5.782720e+05   5.429365e+05
max      35.000000         0.0   1.210855e+09  6.232703e+08   5.875847e+08

       Illiterate_Persons  Illiterate_Males  Illiterate_Females  \
count        3.132000e+03      3.132000e+03        3.132000e+03
mean         1.142315e+06      4.814984e+05        6.608162e+05
std          1.150330e+07      4.966519e+06        6.565306e+06
min          1.000000e+00      0.000000e+00        0.000000e+00
25%          3.453750e+03      1.371500e+03        1.957500e+03
50%          3.054300e+04      1.267350e+04        1.743800e+04
75%          2.291725e+05      8.404050e+04        1.411090e+05
max          4.472162e+08      1.885066e+08        2.587095e+08

       Literate_Persons  Literate_Males  Literate_Females  Unnamed: 15
count      3.132000e+03    3.132000e+03      3.132000e+03          0.0
mean       1.950546e+06    1.110507e+06      8.400388e+05          NaN
std        1.791240e+07    1.023041e+07      7.689529e+06          NaN
min        0.000000e+00    0.000000e+00      0.000000e+00          NaN
25%        1.296200e+04    7.055250e+03      5.883250e+03          NaN
50%        1.319095e+05    8.090150e+04      5.604350e+04          NaN
75%        7.046172e+05    4.018530e+05      3.060520e+05          NaN
max        7.636388e+08    4.347636e+08      3.288752e+08          NaN

In [35]:
import pandas as pd
marks = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/GZVBQG5pzJeNaL1ve50Rv9YNV/class-grades.csv')
print(marks.isnull().sum())

#print(marks)

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          5
dtype: int64

In [36]:
print(marks.isnull().sum()>5)

Prefix        False
Assignment    False
Tutorial       True
Midterm        True
TakeHome       True
Final         False
dtype: bool

In [37]:
#print(marks[marks.isnull().sum(axis=1) > 5].index)
marks= marks.drop(marks[marks.isnull().sum(axis=1)==5].index)
print(marks.isnull().sum())
#print(round(100 * (marks.isnull().sum() / len(marks.index)), 2)) # percentage of each columns

Prefix         0
Assignment     0
Tutorial      10
Midterm       14
TakeHome       7
Final          3
dtype: int64

In [39]:
customer = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/9B2ZPE1apMvqrLWx7p8ge9dqX/cust_dimen.csv')

customer['Cust_id'] = customer.Cust_id.apply(lambda x: x[5:])

print(customer.head(10))

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS       1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER       2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE       3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER       4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE       5
5      MONICA FEDERLE  NUNAVUT  NUNAVUT        CORPORATE       6
6     DOROTHY BADDERS  NUNAVUT  NUNAVUT      HOME OFFICE       7
7     NEOLA SCHNEIDER  NUNAVUT  NUNAVUT      HOME OFFICE       8
8         CARLOS DALY  NUNAVUT  NUNAVUT      HOME OFFICE       9
9       CLAUDIA MINER  NUNAVUT  NUNAVUT   SMALL BUSINESS      10

In [57]:
rating = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/N45BN5xqWKpKNEnZP1qGKk5V3/rating_final.csv')

# sorting by first name
rating.sort_values("userID", inplace = True)
 
# dropping ALL duplicate values
rating_update = rating.drop_duplicates()
print(rating.shape)
print(rating_update.shape)

(1254, 5)
(1149, 5)

In [ ]:
df1 = pd.pivot_table(census_df,index=["Father.edu","State"],values=['Maths..'], aggfunc=np.max)
df1

In [68]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3132 entries, 0 to 3131
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Table Name          3132 non-null   object
 1   State Code          3132 non-null   int64
 2   Distt Code          3132 non-null   int64
 3   Area Name           3132 non-null   object
 4   TRU                 3132 non-null   object
 5   Age-group           3132 non-null   object
 6   Total_Persons       3132 non-null   int64
 7   Total_Males         3132 non-null   int64
 8   Total_Females       3132 non-null   int64
 9   Illiterate_Persons  3132 non-null   int64
 10  Illiterate_Males    3132 non-null   int64
 11  Illiterate_Females  3132 non-null   int64
 12  Literate_Persons    3132 non-null   int64
 13  Literate_Males      3132 non-null   int64
 14  Literate_Females    3132 non-null   int64
 15  Unnamed: 15         0 non-null      float64
dtypes: float64(1), int64(11), object(4)
memory usage: 391.6+ KB