In [36]:
# All imports
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", None)

In [37]:
df = pd.read_csv('tendulkar_ODI.csv')
df.shape
df.head()

,Unnamed: 0,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
0,1,0,-,2,0,0,0,5,caught,2,v Pakistan,Gujranwala,18-Dec-89
1,2,0,2,2,0,0,0,5,caught,2,v New Zealand,Dunedin,1-Mar-90
2,3,36,51,39,5,0,92.3,6,caught,1,v New Zealand,Wellington,6-Mar-90
3,4,19,38,35,1,1,54.28,4,bowled,2,v England,Leeds,18-Jul-90
4,5,31,31,26,3,0,119.23,6,bowled,2,v England,Nottingham,20-Jul-90

In [8]:
df.isnull().sum()

Unnamed: 0    0
Runs          0
Mins          0
BF            0
4s            0
6s            0
SR            0
Pos           0
Dismissal     0
Inns          0
Opposition    0
Ground        0
Start Date    0
dtype: int64

In [9]:
df['Runs'].value_counts()

1      16
2      14
0      12
4       9
21      8
       ..
139     1
70*     1
101     1
87*     1
85      1
Name: Runs, Length: 118, dtype: int64

In [39]:
df["Runs"] = df["Runs"].apply(lambda x: ''.join(x.split('*')))

In [40]:
df['Runs'].value_counts()

1      16
2      14
0      12
4       9
21      8
       ..
81      1
89      1
102     1
86      1
85      1
Name: Runs, Length: 107, dtype: int64

In [41]:
df["Runs"] = df["Runs"].apply(lambda x:'0'.join(x.split('DNB')))

In [42]:
df["Runs"] = df["Runs"].apply(lambda x:'0'.join(x.split('TDNB')))

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  295 non-null    int64
 1   Runs        295 non-null    object
 2   Mins        295 non-null    object
 3   BF          295 non-null    object
 4   4s          295 non-null    object
 5   6s          295 non-null    object
 6   SR          295 non-null    object
 7   Pos         295 non-null    object
 8   Dismissal   295 non-null    object
 9   Inns        295 non-null    object
 10  Opposition  295 non-null    object
 11  Ground      295 non-null    object
 12  Start Date  295 non-null    object
dtypes: int64(1), object(12)
memory usage: 30.1+ KB

In [44]:
df["Runs"] = df["Runs"].astype("int32")

ValueError: invalid literal for int() with base 10: 'T0'