<h2 style = "color : Brown"> Data Frame </h2>

In [8]:
# All imports
import numpy as np
import pandas as pd

<h4 style = "color : Sky blue"> Example - 1</h4>  

##### Create a Data Frame cars using raw data stored in a dictionary

In [9]:
cars_per_cap = [809, 731, 588, 18, 200, 70, 45]
country = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
drives_right = [True, False, False, False, True, True, True]

In [10]:
data = {"cars_per_cap": cars_per_cap, "country": country, "drives_right": drives_right}

In [11]:
data

{'cars_per_cap': [809, 731, 588, 18, 200, 70, 45],
 'country': ['United States',
  'Australia',
  'Japan',
  'India',
  'Russia',
  'Morocco',
  'Egypt'],
 'drives_right': [True, False, False, False, True, True, True]}

In [12]:
cars = pd.DataFrame(data)

cars

   cars_per_cap        country  drives_right
0           809  United States          True
1           731      Australia         False
2           588          Japan         False
3            18          India         False
4           200         Russia          True
5            70        Morocco          True
6            45          Egypt          True

In [13]:
type(cars)

pandas.core.frame.DataFrame

<h4 style = "color : Sky blue"> Example - 2 (Reading data from a file)</h4>  

##### Create a Data Frame by importing cars data from cars.csv

In [16]:
# Read a file using pandas

cars_df = pd.read_csv('cars.csv')

cars_df

    USCA   US United States    809  FALSE
0  ASPAC  AUS     Australia  731.0   True
1  ASPAC  JAP         Japan  588.0   True
2  ASPAC   IN         India   18.0   True
3  ASPAC   RU        Russia  200.0  False
4  LATAM  MOR       Morocco   70.0  False
5    AFR   EG         Egypt   45.0  False
6    EUR  ENG       England    NaN   True

<h4 style = "color : Sky blue"> Example - 3 (Column headers)</h4>  

##### Read file - skip header

In [35]:
cars_df = pd.read_csv('cars.csv', header=None)

cars_df

       0    1              2      3      4
0   USCA   US  United States  809.0  False
1  ASPAC  AUS      Australia  731.0   True
2  ASPAC  JAP          Japan  588.0   True
3  ASPAC   IN          India   18.0   True
4  ASPAC   RU         Russia  200.0  False
5  LATAM  MOR        Morocco   70.0  False
6    AFR   EG          Egypt   45.0  False
7    EUR  ENG        England    NaN   True

##### Assign Headers

In [36]:
# Returns an array of headers

cars_df.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [37]:
# Rename Headers

cars_df.columns = ['country code', 'region', 'country', 'cars_per_cap', 'drive_right']

In [38]:
cars_df

  country code region        country  cars_per_cap  drive_right
0         USCA     US  United States         809.0        False
1        ASPAC    AUS      Australia         731.0         True
2        ASPAC    JAP          Japan         588.0         True
3        ASPAC     IN          India          18.0         True
4        ASPAC     RU         Russia         200.0        False
5        LATAM    MOR        Morocco          70.0        False
6          AFR     EG          Egypt          45.0        False
7          EUR    ENG        England           NaN         True

<h4 style = "color : Sky blue"> Example - 4 (Row index/names) </h4>  

##### Read file - skip header and assign first column as index.

In [31]:
# Index is returned by
cars_df.index

RangeIndex(start=0, stop=8, step=1)

In [43]:
# Read file and set 1st column as index
cars_df = pd.read_csv("cars.csv", header= None, index_col=0)

# set the column names
cars_df.columns = ['region', 'country', 'cars_per_cap', 'drive_right']
cars_df

      region        country  cars_per_cap  drive_right
0
USCA      US  United States         809.0        False
ASPAC    AUS      Australia         731.0         True
ASPAC    JAP          Japan         588.0         True
ASPAC     IN          India          18.0         True
ASPAC     RU         Russia         200.0        False
LATAM    MOR        Morocco          70.0        False
AFR       EG          Egypt          45.0        False
EUR      ENG        England           NaN         True

In [44]:
# Print the new index
cars_df.index

Index(['USCA', 'ASPAC', 'ASPAC', 'ASPAC', 'ASPAC', 'LATAM', 'AFR', 'EUR'], dtype='object', name=0)

##### Rename the Index Name

In [46]:
cars_df.index.name = 'country_code'
cars_df

             region        country  cars_per_cap  drive_right
country_code
USCA             US  United States         809.0        False
ASPAC           AUS      Australia         731.0         True
ASPAC           JAP          Japan         588.0         True
ASPAC            IN          India          18.0         True
ASPAC            RU         Russia         200.0        False
LATAM           MOR        Morocco          70.0        False
AFR              EG          Egypt          45.0        False
EUR             ENG        England           NaN         True

##### Delete the index name

In [51]:
cars_df.index.name = None
cars_df

      region        country  cars_per_cap  drive_right
USCA      US  United States         809.0        False
ASPAC    AUS      Australia         731.0         True
ASPAC    JAP          Japan         588.0         True
ASPAC     IN          India          18.0         True
ASPAC     RU         Russia         200.0        False
LATAM    MOR        Morocco          70.0        False
AFR       EG          Egypt          45.0        False
EUR      ENG        England           NaN         True

##### Set Hierarchical index

In [52]:
# Read file and set 1st column as index
cars_df = pd.read_csv("cars.csv", header= None)

# set the column names
cars_df.columns = ['country_code','region','country','cars_per_cap','drives_right']

cars_df.set_index(['region', 'country_code'], inplace=True)

In [53]:
cars_df

                           country  cars_per_cap  drives_right
region country_code
US     USCA          United States         809.0         False
AUS    ASPAC             Australia         731.0          True
JAP    ASPAC                 Japan         588.0          True
IN     ASPAC                 India          18.0          True
RU     ASPAC                Russia         200.0         False
MOR    LATAM               Morocco          70.0         False
EG     AFR                   Egypt          45.0         False
ENG    EUR                 England           NaN          True

<h4 style = "color : Sky blue"> Example - 5 (Write Data Frame to file) </h4>  

##### Write cars_df to cars_to_csv.csv

In [54]:
cars_df.to_csv('cars_to_csv.csv')

In [41]:
import numpy as np
import pandas as pd

# The file is stored at the following path:
# 'https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv'
# Provide your answer below
df = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv'
, '|',header=None, index_col = 0)

print(df)

/usr/local/Cellar/jupyterlab/3.2.3/libexec/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

          1            2   3   4   5
0
1    Akshay  Mathematics  50  40  80
2    Mahima      English  40  33  83
3     Vikas  Mathematics  50  42  84
4   Abhinav      English  40  31  78
5    Mahima      Science  50  40  80
6    Akshay      Science  50  49  98
7   Abhinav  Mathematics  50  47  94
8     Vikas      Science  50  40  80
9   Abhinav      Science  50  47  94
10    Vikas      English  40  39  98
11   Akshay      English  40  35  88
12   Mahima  Mathematics  50  43  86

In [43]:
df.columns = [ 'Name', 'Subject', 'Maximum Marks', 'Marks Obtained', 'Percentage']
df.index.name = "S.No."
print(df)

          Name      Subject  Maximum Marks  Marks Obtained  Percentage
Sr No
1       Akshay  Mathematics             50              40          80
2       Mahima      English             40              33          83
3        Vikas  Mathematics             50              42          84
4      Abhinav      English             40              31          78
5       Mahima      Science             50              40          80
6       Akshay      Science             50              49          98
7      Abhinav  Mathematics             50              47          94
8        Vikas      Science             50              40          80
9      Abhinav      Science             50              47          94
10       Vikas      English             40              39          98
11      Akshay      English             40              35          88
12      Mahima  Mathematics             50              43          86

In [52]:
df.loc[[3], ["Name", "Subject", "Percentage"]]

        Name      Subject  Percentage
Sr No
3      Vikas  Mathematics          84

In [54]:
df.iloc[[2], [0, 1, 4]]

        Name      Subject  Percentage
Sr No
3      Vikas  Mathematics          84

In [55]:
df.loc[[2], [0, 1, 4]]

KeyError: "None of [Int64Index([0, 1, 4], dtype='int64')] are in the [columns]"

In [19]:
import numpy as np
import pandas as pd

# The file is stored at the following path:
# 'https://media-doselect.s3.amazonaws.com/generic/NMgEjwkAEGGQZBoNYGr9Ld7w0/rating.csv'
df = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/NMgEjwkAEGGQZBoNYGr9Ld7w0/rating.csv', header = 0, index_col = [2,1])

# Provide your answer below
df.sort_index(inplace=True)
df.head()

                         ID  Rating
Office    Department
Bangalore Finance     U2F53     2.7
          Finance     U1F53     3.7
          Finance     U1F28     3.2
          Finance     U1F15     3.3
          Finance     U1F14     2.9

In [21]:
df = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/OzVb4J8xNAMBkxz5XyEJEP4qn/forestfires.csv')
print(df.head())
print(df.columns)
print(df.shape)

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0
Index(['X', 'Y', 'month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH',
       'wind', 'rain', 'area'],
      dtype='object')
(517, 13)

In [32]:
import pandas as pd

url = "https://media-doselect.s3.amazonaws.com/generic/2njRW5W1X2jGxYGPKMZe4jEeW/forestfires (2).csv"
    
url = url.replace(" ", "%20")
df = pd.read_csv(url)
df_2 = df[["month", "day" , "temp" , "area"]]
print(df_2.head(20))

   month  day  temp  area
0    mar  fri   8.2   0.0
1    oct  tue  18.0   0.0
2    oct  sat  14.6   0.0
3    mar  fri   8.3   0.0
4    mar  sun  11.4   0.0
5    aug  sun  22.2   0.0
6    aug  mon  24.1   0.0
7    aug  mon   8.0   0.0
8    sep  tue  13.1   0.0
9    sep  sat  22.8   0.0
10   sep  sat  17.8   0.0
11   sep  sat  19.3   0.0
12   aug  fri  17.0   0.0
13   sep  mon  21.3   0.0
14   sep  wed  26.4   0.0
15   sep  fri  22.9   0.0
16   mar  sat  15.1   0.0
17   oct  mon  16.7   0.0
18   mar  wed  15.9   0.0
19   apr  sat   9.3   0.0

In [34]:
import pandas as pd
url = "https://media-doselect.s3.amazonaws.com/generic/2njRW5W1X2jGxYGPKMZe4jEeW/forestfires (2).csv"
    
url = url.replace(" ", "%20")
df = pd.read_csv(url)
df_2 = df[2: :2]
print(df_2.head(20))

    X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
2   7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
4   8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
6   8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
8   8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0
10  7  5   sep  sat  92.5   88.0  698.6   7.1  17.8  51   7.2   0.0   0.0
12  6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.0
14  6  5   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0   0.0
16  5  5   mar  sat  91.7   35.8   80.8   7.8  15.1  27   5.4   0.0   0.0
18  6  4   mar  wed  89.2   27.9   70.8   6.3  15.9  35   4.0   0.0   0.0
20  6  4   sep  tue  91.0  129.5  692.6   7.0  18.3  40   2.7   0.0   0.0
22  7  4   jun  sun  94.3   96.3  200.0  56.1  21.0  44   4.5   0.0   0.0
24  7  4   aug  sat  93.5  139.4  594.2  20.3  23.7  32   5.8   0.0   0.0
26  7  4   sep  fri  92.4  117.9  668.0  12.2  19.0  34   5.8   0.0   0.0
28  6  3   sep  sat  93.4  145.4  721.4   8.1  30.2  24   2.7   0.0   0.0
30  6  3   sep  fri  94.3   85.1  692.3  15.9  25.4  24   3.6   0.0   0.0
32  6  3   sep  fri  88.6   69.7  706.8   5.8  20.6  37   1.8   0.0   0.0
34  6  3   sep  mon  91.8   78.5  724.3   9.2  21.2  32   2.7   0.0   0.0
36  6  3   oct  tue  90.6   35.4  669.1   6.7  21.7  24   4.5   0.0   0.0
38  7  3   oct  sat  90.6   43.7  686.9   6.7  17.8  27   4.0   0.0   0.0
40  4  4   jul  tue  79.5   60.6  366.7   1.5  23.3  37   3.1   0.0   0.0

In [61]:
#where 'area' is greater than 0, 'wind' is greater than 1 and the 'temp' is greater than 15.
import pandas as pd
url = "https://media-doselect.s3.amazonaws.com/generic/2njRW5W1X2jGxYGPKMZe4jEeW/forestfires (2).csv"
    
url = url.replace(" ", "%20")
df = pd.read_csv(url)


df_2 = df[ (df['area']>0) & (df['wind']>1) & (df['temp']>15)] 
print(df_2.head(20))

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
138  9  9   jul  tue  85.8   48.3  313.4   3.9  18.0  42   2.7   0.0  0.36
139  1  4   sep  tue  91.0  129.5  692.6   7.0  21.7  38   2.2   0.0  0.43
140  2  5   sep  mon  90.9  126.5  686.5   7.0  21.9  39   1.8   0.0  0.47
141  1  2   aug  wed  95.5   99.9  513.3  13.2  23.3  31   4.5   0.0  0.55
142  8  6   aug  fri  90.1  108.0  529.8  12.5  21.2  51   8.9   0.0  0.61
143  1  2   jul  sat  90.0   51.3  296.3   8.7  16.6  53   5.4   0.0  0.71
144  2  5   aug  wed  95.5   99.9  513.3  13.2  23.8  32   5.4   0.0  0.77
145  6  5   aug  thu  95.2  131.7  578.8  10.4  27.4  22   4.0   0.0  0.90
147  8  3   sep  tue  84.4   73.4  671.9   3.2  24.2  28   3.6   0.0  0.96
148  2  2   aug  tue  94.8  108.3  647.1  17.0  17.4  43   6.7   0.0  1.07
149  8  6   sep  thu  93.7   80.9  685.2  17.9  23.7  25   4.5   0.0  1.12
150  6  5   jun  fri  92.5   56.4  433.3   7.1  23.2  39   5.4   0.0  1.19
151  9  9   jul  sun  90.1   68.6  355.2   7.2  24.8  29   2.2   0.0  1.36
152  3  4   jul  sat  90.1   51.2  424.1   6.2  24.6  43   1.8   0.0  1.43
153  5  4   sep  fri  94.3   85.1  692.3  15.9  20.1  47   4.9   0.0  1.46
154  1  5   sep  sat  93.4  145.4  721.4   8.1  29.6  27   2.7   0.0  1.46
155  7  4   aug  sun  94.8  108.3  647.1  17.0  16.4  47   1.3   0.0  1.56
156  2  4   sep  sat  93.4  145.4  721.4   8.1  28.6  27   2.2   0.0  1.61
157  2  2   aug  wed  92.1  111.2  654.1   9.6  18.4  45   3.6   0.0  1.63
158  2  4   aug  wed  92.1  111.2  654.1   9.6  20.5  35   4.0   0.0  1.64