In [6]:
from scipy.stats import norm  
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import os.path

In [4]:
data_start = 0
data_end = 30
data_points = 26
data = np.linspace(data_start, data_end, data_points)
  
mean = np.mean(data)
std = np.std(data)
  
probability_pdf = norm.pdf(3, loc=mean, scale=std)
print(probability_pdf)

0.01822334163066596

In [9]:
istats = pd.read_csv("Inferential Statistics - Student Loan.csv")
istats.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00%,0.0070,NaN,NaN
1,2,0.24,5.10%,0.0033,NaN,NaN
2,3,0.04,24.86%,0.0022,NaN,NaN
3,4,13.81,2.29%,0.0066,NaN,NaN
4,5,19.84,3.47%,0.0020,NaN,NaN

In [17]:
istats["EV"] =(((istats["Exposure at Default (in lakh Rs.)"]) -(20*istats["Exposure at Default (in lakh Rs.)"])/100)* istats["Probability of Default"])*100000

In [18]:
istats.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5,EV
0,1,11.50,20.00%,0.0070,NaN,NaN,6440.00
1,2,0.24,5.10%,0.0033,NaN,NaN,63.36
2,3,0.04,24.86%,0.0022,NaN,NaN,7.04
3,4,13.81,2.29%,0.0066,NaN,NaN,7291.68
4,5,19.84,3.47%,0.0020,NaN,NaN,3174.40

In [19]:
istats["EV"].sum()

49499867.84

In [20]:
(37/38)*(-100)+(1/38)*(3500)

-5.26315789473685

In [21]:
37/38

0.9736842105263158

In [23]:
(1/38)*(3500)

92.10526315789473

In [36]:
m=100
sd=10
Z=(90-m)/sd
#P(x>=90)=1-P(x<=90)

import numpy as np
import scipy.special as scsp

def z2p(z):
    """From z-score return p-value."""
    return 0.5 * (1 + scsp.erf(z / np.sqrt(2)))

p_value = z2p(Z)
#P(x>=90)=1-P(x<=90)
p_student_passing = round((1-p_value),2)
print(p_student_passing)

0.84

In [27]:
(90-100)/10

-1.0

In [30]:
import numpy as np
vector = np.array([.925, .95, .975, .99])
p_values = [st.norm.ppf(v) for v in vector]
p_values

NameError: name 'st' is not defined