### Python

In [2]:
# lists
ls = [1,2,12,15,6,2,"A",[1,2,3],True]

In [3]:
ls[::-1]

[True, [1, 2, 3], 'A', 2, 6, 15, 12, 2, 1]

#### lists
- Adding a new elemts:
    - Append
    - Insert
    - Extend

In [4]:
ls

[1, 2, 12, 15, 6, 2, 'A', [1, 2, 3], True]

In [114]:
ls.append('B')
ls

[1, 2, 12, 15, 6, 2, 'A', [1, 2, 3], True, 'B']

In [115]:
ls.insert(1,'in')
ls

[1, 'in', 2, 12, 15, 6, 2, 'A', [1, 2, 3], True, 'B']

In [120]:
ls.insert(-1,[1,2,3])

In [121]:
ls

[1, 'in', 2, 12, 15, 6, 2, 'A', [1, 2, 3], True, 'B', 'J', 'K', [1, 2, 3], 'L']

In [116]:
ls1 = ['J','K','L']
ls.extend(ls1)

In [117]:
ls

[1, 'in', 2, 12, 15, 6, 2, 'A', [1, 2, 3], True, 'B', 'J', 'K', 'L']

In [118]:
# ls.extend(['python','exam','test'])

#### lists
- removing
    - pop
    - remove
    - del

In [123]:
ls

[1, 'in', 2, 12, 15, 6, 2, 'A', [1, 2, 3], True, 'B', 'J', 'K', [1, 2, 3], 'L']

In [124]:
ls.pop()

'L'

In [125]:
ls

[1, 'in', 2, 12, 15, 6, 2, 'A', [1, 2, 3], True, 'B', 'J', 'K', [1, 2, 3]]

In [129]:
ls.pop(0)

'in'

In [133]:
ls

[2, 12, 15, 6, 2, [1, 2, 3], True, 'B', 'J', 'K', [1, 2, 3]]

In [134]:
ls.remove(2)

In [139]:
ls

[12, 6, 2, [1, 2, 3], True, 'B', 'J', 'K', [1, 2, 3]]

In [140]:
del ls[-4:-1]

In [142]:
ls

[12, 6, 2, [1, 2, 3], True, [1, 2, 3]]

In [143]:
del ls[-1][1]

In [146]:
ls[-1].extend(['A','B'])

In [147]:
ls

[12, 6, 2, [1, 2, 3], True, [1, 3, 'A', 'B']]

### Dictionaries
    - keys
    - values
    - items

In [148]:
d = {"a":"apple","b":"ball","c":'cat',"d":"dog"}

In [149]:
d.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [33]:
d.values()

dict_values(['apple', 'ball', 'cat', 'dog'])

In [151]:
d.items()

dict_items([('a', 'apple'), ('b', 'ball'), ('c', 'cat'), ('d', 'dog')])

In [152]:
s = 'Exam is going to be good'

In [154]:
s[::-1]

'doog eb ot gniog si maxE'

In [37]:
s.split(' ')[::-1]

['good', 'be', 'to', 'going', 'is', 'Exam']

In [39]:
' '.join([w[::-1] for w in s.split(' ')])

'maxE si gniog ot eb doog'

In [159]:
ls =['3_xy.png','04_xy.txt','2_z.png','04_xy.txt']

In [163]:
ls.sort(key=lambda x:int(x.split('_')[0]))
ls

['2_z.png', '3_xy.png', '04_xy.txt', '04_xy.txt']

In [43]:
sorted(ls,key= lambda x:int(x.split('_')[0]))

['2_z.png', '3_xy.png', '04_xy.txt', '04_xy.txt']

In [169]:
d1 ={'a':1,'b':2,'c':3,'d':4}

In [168]:
{k:v for k,v in d1.items() if v%2==0}

{'b': 2, 'd': 4}

#### map
- map a function to each of the list

In [172]:
ls = [2,3,4,5,6]
list(map(lambda x:x*x,ls))

[4, 9, 16, 25, 36]

In [173]:
d2 = {0:1,1:2}
list(map(lambda x:x*x,d2))

[0, 1]

#### Filter 
    - filter those elements that satisfies the condition

In [179]:
ls = [2,3,4,5,6]
# list(filter(lambda x:x%2!=0 ,ls))
list(filter(lambda x:x%2==0,ls))

[2, 4, 6]

In [178]:
4%2==0

True

In [181]:
from functools import reduce

ls = [2,3,14,5,6]
reduce(lambda a,b:a if a>b else b,ls)
reduce(lambda a,b:a+b,ls)

30

#### Numpy

In [57]:
import numpy as np

In [182]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [189]:
a = np.arange(1,10).reshape(3,3)
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [190]:
np.fliplr(a)

array([[3, 2, 1],
       [6, 5, 4],
       [9, 8, 7]])

In [191]:
np.flipud(a)

array([[7, 8, 9],
       [4, 5, 6],
       [1, 2, 3]])

In [192]:
a = np.zeros((3,3),dtype=int)
a

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [193]:
a.fill(5)
a

array([[5, 5, 5],
       [5, 5, 5],
       [5, 5, 5]])

In [194]:
np.fill_diagonal(a,1)
a

array([[1, 5, 5],
       [5, 1, 5],
       [5, 5, 1]])

In [195]:
np.fill_diagonal(np.flipud(a),1)
a

array([[1, 5, 1],
       [5, 1, 5],
       [1, 5, 1]])

In [81]:
np.flipud(a)

array([[1, 5, 1],
       [5, 1, 5],
       [1, 5, 1]])

In [199]:
np.pad(a,pad_width=2,constant_values = 0)

array([[0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 5, 1, 0, 0],
       [0, 0, 5, 1, 5, 0, 0],
       [0, 0, 1, 5, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0]])

In [200]:
import pandas as pd

In [201]:
data = {'Country': ['Belgium',  'India',  'Brazil'],
        'Population': [11190846, 1303171035, 207847528]}
df1 = pd.DataFrame(data,columns=['Country',  'Population'])
df1

   Country  Population
0  Belgium    11190846
1    India  1303171035
2   Brazil   207847528

In [202]:
data2 = {'Capital': ['Brussels',  'New Delhi',  'Brasilia']}
df2 = pd.DataFrame(data2,columns=['Capital'])
df2

     Capital
0   Brussels
1  New Delhi
2   Brasilia

In [203]:
pd.concat([df1,df2],axis=1)

   Country  Population    Capital
0  Belgium    11190846   Brussels
1    India  1303171035  New Delhi
2   Brazil   207847528   Brasilia

In [ ]:
ReportGenrationDates = {'P1':'26/01/2020','P2':'24/01/2020','P4':'27/02/2019', 'P3':'28/02/2020'}
PatientsReports = ['P1.png', 'P2.png', 'P3.png', 'P4.png']

ReportGenrationDates = {F'{k}.png':time.strptime(v,'%d/%m/%Y') for k,v in ReportGenrationDates.items()}

PatientsReports.sort(key=lambda x:ReportGenrationDates[x],reverse=False)

In [1]:
l1 = ["manish", 'sumit','rajesh','nekanti']
l2 = ["kumar", 'gupta','katreddy','shivaramakrishna','test']

from itertools import product
list(product(l1,l2))

[('manish', 'kumar'),
 ('manish', 'gupta'),
 ('manish', 'katreddy'),
 ('manish', 'shivaramakrishna'),
 ('manish', 'test'),
 ('sumit', 'kumar'),
 ('sumit', 'gupta'),
 ('sumit', 'katreddy'),
 ('sumit', 'shivaramakrishna'),
 ('sumit', 'test'),
 ('rajesh', 'kumar'),
 ('rajesh', 'gupta'),
 ('rajesh', 'katreddy'),
 ('rajesh', 'shivaramakrishna'),
 ('rajesh', 'test'),
 ('nekanti', 'kumar'),
 ('nekanti', 'gupta'),
 ('nekanti', 'katreddy'),
 ('nekanti', 'shivaramakrishna'),
 ('nekanti', 'test')]

In [2]:
list(zip(l1,l2))

[('manish', 'kumar'),
 ('sumit', 'gupta'),
 ('rajesh', 'katreddy'),
 ('nekanti', 'shivaramakrishna')]

In [205]:
[' '.join(name) for name in zip(l1,l2)]

['manish kumar', 'sumit gupta', 'rajesh katreddy', 'nekanti shivaramakrishna']

In [208]:
for i in range(5):
    print(str(i)*i)

1
22
333
4444

In [1]:
n=4
for i in range(n)[::-1]:
    print(' '*(n-i)+'*'*((i*2)+1))
# *****
#  ***
#   *

 *******
  *****
   ***
    *